.gallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .galleryArrow{
    color: white;
 }

 .gallery p{
   color: white;
 }
 .galleryDetails{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }